[submodule "HackRankPracticeSBAshell"]
    path = HackRankPracticeSBAshell
    url = https://github.com/stanleyzzheng/JavaBootcamp/HackRankPracticeSBAshell.git
[submodule "MiniHackathon1"]
    path = MiniHackathon1
    url = https://github.com/stanleyzzheng/JavaBootcamp/MiniHackathon1.git