<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<div class="main-container">

    <h2>Edit Employee</h2>
</div>
<form action="#" th:action="@{/employees/update/{id}(id=${employeeDTO.id})}" th:object="${employeeDTO}" method="POST">
    <div class="container">

    <div class="form-container">

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{gender}"/>


        <div class="form-row">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" th:field="*{firstName}"/>
        </div>
        <div class="form-row">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" th:field="*{lastName}"/>
        </div>
        <div class="form-row">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}"/>
        </div>
        <div class="form-row">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" required>
        </div>
        <div class="form-row">

            <!--    <label for="positionId">Position ID:</label>-->
            <!--    <input type="number" id="positionId" name="positionId" th:field="*{positionId}" required>-->
            <label for="departmentId">Department:</label>
            <select id="departmentId" name="departmentId" th:field="*{departmentId}" required>
                <option th:each="department : ${departments}" th:value="${department.getId()}"
                        th:text="${department.getName()}"></option>
            </select>
        </div>

        <div class="form-row">

            <label for="positionId">Position:</label>
            <select id="positionId" name="positionId" th:field="*{positionId}" required>
                <option th:each="position : ${positions}" th:value="${position.getId()}"
                        th:text="${position.getName()}"></option>
            </select>
        </div>

        <div class="form-row">
            <label for="salary">Salary:</label>
            <input type="number" id="salary" th:field="*{salary}"/>
        </div>
        <!-- Add more fields as needed -->
        <div class="form-row">

            <button class="submit-btn" type="submit">Save Changes</button>
        </div>
    </div>

    </div>


</form>
</body>
</html>