<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Employees page</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div th:insert="navbar :: navbar"></div>
<div class="main-container">

    <h1>Departments</h1>
    <a href="/manage/add-employee">Add Employee</a>
</div>
<main class="main-section">

    <div class="container">
        <h2>List of employees:</h2>
        <!--        <ul>-->
        <!--            <li class="list-item" th:each="employee : ${employees}">-->
        <!--                <a th:href="@{/employees/employeeDetail/{id}(id=${employee.id})}">-->
        <!--                    <span th:text="${employee.firstName} + ' ' + ${employee.lastName} + ' ' + ${employee.email}"></span>-->
        <!--                </a>-->
        <!--            </li>-->
        <!--        </ul>-->
        <table class="employees-table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.gender}"></td>
                <td th:text="${employee.online ? 'Online' : 'Offline'}"></td>
                <td>
                    <a th:href="@{/employees/employeeDetail/{id}(id=${employee.id})}">
                        <span th:text="Details"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>